<!DOCTYPE html>

<html>

<!--Contém meta dados do HTML-->
<head>

    <meta charset="utf-8" />
    <title>
        Gestão de Equipamentos
    </title>
</head>

<!--Contém o contéudo da página HTML-->
<body>
    <h1>Gestão de Equipamentos</h1>

    <h3>Fabricantes</h3>

    <!--Lista desodernada / bullet points-->
    <ul>
        <!--Itens da lista-->
        <li><a href="/fabricantes/cadastrar">Cadastrar Fabricante</a></li>
        <li><a href="/fabricantes/visualizar">Visualizar Fabricantes</a></li>
    </ul>

    <h3>Equipamentos</h3>

    <!--Lista desodernada / bullet points-->
    <ul>
        <!--Itens da lista-->
        <li><a href="/equipamentos/cadastrar">Cadastrar Equipamentos</a></li>
        <li><a href="/equipamentos/visualizar">Visualizar Equipamentos</a></li>
    </ul>
</body>

</html>
