<!DOCTYPE html>

<html>

<!--Contém meta dados do HTML-->
<head>

    <meta charset="utf-8" />
    <title>
        Gestão de Equipamentos
    </title>
</head>

<!--Contém o contéudo da página HTML-->
<body>
    <h1>Gestão de Equipamentos</h1>

    <h3>Fabricantes</h3>

    <!--Lista desodernada / bullet points-->
    <ul>
        <!--Itens da lista-->
        <li><a href="/fabricantes/cadastrar">Cadastrar Fabricante</a></li>
        <li><a href="/fabricantes/visualizar">Visualizar Fabricantes</a></li>
    </ul>

    <h3>Equipamentos</h3>

    <ul>
        <li><a href="/equipamentos/cadastrar">Cadastrar Equipamento</a></li>
        <li><a href="/equipamentos/visualizar">Visualizar Equipamentos</a></li>
    </ul>

    <h3>Chamados</h3>

    <ul>
        <li><a href="/chamados/cadastrar">Cadastrar Chamado</a></li>
        <li><a href="/chamados/visualizar">Visualizar Chamados</a></li>
    </ul>
</body>

</html>
