@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante;

@{ Fabricante f = ViewBag.Fabricante; }

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title> Edição de Fabricante - Gestão de Equipamentos </title>
    </head>

    <body>
        <h1>Gestão de Equipamentos</h1>

        <h3>Edição de Fabricantes</h3>

        <form action="/fabricantes/editar/@f.Id" method="post">

            <label>Nome do Fabricante:</label>
            <br />
            <input type="text" name="nome" value="@f.Nome"/>

            <br />

            <label>Email do Fabricante:</label>
            <br />
            <input type="text" name="email" value="@f.Email"/>

            <br />

            <label>Telefone do Fabricante:</label>
            <br />
            <input type="text" name="telefone" value="@f.Telefone"/>

            <hr />

            <button type="submit">Gravar</button>
        </form>
    </body>

</html>
